/* Settings */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --white-blue-color: #edeef0;
    --blue-color: #002765;
    --red-color: #ff5945;
    --grey-color: #555;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: var(--white-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app-title {
    color: var(--blue-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app-title img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-blue-color);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

#input-box {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--red-color);
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--grey-color);
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: var(--white-blue-color);
}

.checked {
    color: var(--grey-color);
    text-decoration: line-through;
}

.checked::before {
    content: "";
    background-image: url(../images/checked.png);
}